# Uso de Dataframe en Pandas
##### https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

In [5]:
import pandas as pd
import sys
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from pandas.tools.plotting import radviz

%matplotlib inline

## tomado de http://cursosinformatica.ucm.es/trial/analisis/

In [7]:
datos = np.array([[101, 'p1', 2],
       [101, 'p2', 3],
       [101, 'p3', 4],
       [102, 'p3', 1],
       [102, 'p2', 2],
       [102, 'p4', 5],
       [103, 'p2', 1],
       [103, 'p1', 3],
       [103, 'p4', 2]])
pedidos = pd.DataFrame(datos, 
                       columns = ['Numero_pedido', 'Producto', 'Cantidad'])
pedidos

  Numero_pedido Producto Cantidad
0           101       p1        2
1           101       p2        3
2           101       p3        4
3           102       p3        1
4           102       p2        2
5           102       p4        5
6           103       p2        1
7           103       p1        3
8           103       p4        2

In [13]:
dd = pedidos.pivot(index = 'Numero_pedido', columns = 'Producto', values = 'Cantidad')
# pedidos.pivot(index = 'Cantidad', columns = 'Producto', values = 'Numero_pedido')

dd.keys()
dd

Producto         p1 p2    p3    p4
Numero_pedido
101               2  3     4  None
102            None  2     1     5
103               3  1  None     2

In [16]:
# use pivot_table
datos = [[2001, 1, 'p1', 100], 
         [2001, 2, 'p1', 50], 
         [2001, 3, 'p2', 20], 
         [2004, 1, 'p3', 100],
         [2004, 1, 'p1', 100], 
         [2004, 2, 'p1', 200], 
         [2007, 2, 'p1', 50], 
         [2007, 3, 'p1', 40]]

prod = pd.DataFrame(datos, columns = ['Ejercicio', 'Trimestre', 'Producto', 'Kg.'])
prod

   Ejercicio  Trimestre Producto  Kg.
0       2001          1       p1  100
1       2001          2       p1   50
2       2001          3       p2   20
3       2004          1       p3  100
4       2004          1       p1  100
5       2004          2       p1  200
6       2007          2       p1   50
7       2007          3       p1   40

In [17]:
prod.pivot_table(index = 'Ejercicio', columns = 'Producto', values = 'Kg.', aggfunc = sum)

Producto      p1    p2     p3
Ejercicio
2001       150.0  20.0    NaN
2004       300.0   NaN  100.0
2007        90.0   NaN    NaN

In [18]:
prod.pivot_table(index = 'Ejercicio', columns = 'Producto', values = 'Kg.',
                 aggfunc = sum, fill_value = 0)

Producto    p1  p2   p3
Ejercicio
2001       150  20    0
2004       300   0  100
2007        90   0    0

In [19]:
data = pd.read_csv('data/data-educacion-ecuador.csv')

In [21]:
data.head()

,Provincia,Canton,Parroquia,Femenino,Masculino,Textbox17,Textbox6,Textbox7,Textbox18
0,AZUAY,CAMILO PONCE ENRIQUEZ,CAMILO PONCE ENRIQUEZ,"2,294","2,096","4,390","1,945,017","1,767,520","3,712,537"
1,AZUAY,CAMILO PONCE ENRIQUEZ,EL CARMEN DEL PIJILI,215,173,388,"1,945,017","1,767,520","3,712,537"
2,AZUAY,CHORDELEG,CHORDELEG,"1,183","1,109","2,292","1,945,017","1,767,520","3,712,537"
3,AZUAY,CHORDELEG,LA UNION,134,128,262,"1,945,017","1,767,520","3,712,537"
4,AZUAY,CHORDELEG,LUIS GALARZA ORELLANA,156,155,311,"1,945,017","1,767,520","3,712,537"

In [26]:
data.loc[0]

Provincia                    AZUAY
Canton       CAMILO PONCE ENRIQUEZ
Parroquia    CAMILO PONCE ENRIQUEZ
Femenino                     2,294
Masculino                    2,096
Textbox17                    4,390
Textbox6                 1,945,017
Textbox7                 1,767,520
Textbox18                3,712,537
Name: 0, dtype: object

In [22]:
data[data['Provincia']=='AZUAY'].pivot_table(index = 'Canton', columns = 'Parroquia', values = 'Femenino', aggfunc = sum)

Parroquia,ABDON CALDERON (LA UNION),AMALUZA,ASUNCION,BAÑOS,BELLAVISTA,BULAN (JOSE VICTOR IZQUIERDO),CAMILO PONCE ENRIQUEZ,CAÑARIBAMBA,CHAUCHA,CHECA (JIDCAY),...,SUSUDEL,TARQUI,TOMEBAMBA,TOTORACOCHA,TURI,VALLE,VICTORIA DEL PORTETE (IRQUIS),YANUNCAY,ZHAGLLI (SHAGLLI),ZHIDMAD
Canton,,,,,,,,,,,,,,,,,,,,,
CAMILO PONCE ENRIQUEZ,None,None,None,None,None,None,"2,294",None,None,None,...,None,None,None,None,None,None,None,None,None,None
CHORDELEG,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
CUENCA,None,None,None,"2,915","4,186",None,None,"2,978",185,330,...,None,"1,037",None,"3,524",666,"1,542",476,"4,006",None,None
EL PAN,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
GIRON,None,None,310,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
GUACHAPALA,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
GUALACEO,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,301
NABON,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
OÑA,None,None,None,None,None,None,None,None,None,None,...,154,None,None,None,None,None,None,None,None,None
PAUTE,None,None,None,None,None,119,None,None,None,None,...,None,None,177,None,None,None,None,None,None,None
PUCARA,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
SAN FERNANDO,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
SANTA ISABEL,560,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,190,None
SEVILLA DE ORO,None,135,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
SIGSIG,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [23]:
data[data['Provincia']=='AZUAY'].pivot_table(index = 'Canton', columns = 'Parroquia', values = 'Femenino', 
                                             aggfunc = sum,
                                            fill_value = 0)

Parroquia,ABDON CALDERON (LA UNION),AMALUZA,ASUNCION,BAÑOS,BELLAVISTA,BULAN (JOSE VICTOR IZQUIERDO),CAMILO PONCE ENRIQUEZ,CAÑARIBAMBA,CHAUCHA,CHECA (JIDCAY),...,SUSUDEL,TARQUI,TOMEBAMBA,TOTORACOCHA,TURI,VALLE,VICTORIA DEL PORTETE (IRQUIS),YANUNCAY,ZHAGLLI (SHAGLLI),ZHIDMAD
Canton,,,,,,,,,,,,,,,,,,,,,
CAMILO PONCE ENRIQUEZ,0,0,0,0,0,0,"2,294",0,0,0,...,0,0,0,0,0,0,0,0,0,0
CHORDELEG,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CUENCA,0,0,0,"2,915","4,186",0,0,"2,978",185,330,...,0,"1,037",0,"3,524",666,"1,542",476,"4,006",0,0
EL PAN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GIRON,0,0,310,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GUACHAPALA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
GUALACEO,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,301
NABON,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
OÑA,0,0,0,0,0,0,0,0,0,0,...,154,0,0,0,0,0,0,0,0,0
PAUTE,0,0,0,0,0,119,0,0,0,0,...,0,0,177,0,0,0,0,0,0,0
PUCARA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SAN FERNANDO,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SANTA ISABEL,560,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,190,0
SEVILLA DE ORO,0,135,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SIGSIG,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0